body{
    margin: 20px;
}

.face{
    width: 200px;
    height: 200px;
    background-color: red;
    background-image: url("../Images/BaseFace.png");
    background-size: cover;
}

.make-face-field{
    width: 30%;
}