<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Emotion Expression System</title>
  </head>

  <body>
    <div id="root"></div>

    <!-- <h1>今日の１日を振り返る</h1> -->
    <!-- <div id="root"></div> -->
    <!-- <div id="reviews-table"></div> -->

    <!-- review area -->
    <!-- <div class="review-area">
      <!-- 顔アイコン作成UI -->
    <div class="review-area__main">
      <div class="review-area__main__make-face-field">
        <div class="review-area__main__make-face-field__Top">
          <div id="review-area__main__make-face-field__Top__emotion-face">
            <canvas id="facial-parts" width="150" height="150"></canvas>
          </div>
        </div>
        <div class="review-area__main__make-face-field__drag-corrdinate">
          <canvas id="coordinate" width="400" height="400"> </canvas>
        </div>
        <button
          id="decide-button"
          class="
            review-area__main__make-face-field__decide-button
            js-modal-open
          "
          data-target="modal01"
        >
          OK!!
        </button>
        <div>
          <input type="checkbox" id="setting-face-color" class="checkbox" />
          <label class="text" for="setting-face-color">色を追加</label>
        </div>
      </div>
    </div>

    <!-- 顔アイコン作成UI end-->

    <!-- <div class="review-area__result">
        <p>顔アイコン作成結果</p>
        <div class="review-area__result__img">
          <img src="" id="gif" />
        </div>
      </div> -->

    <!-- modal -->
    <div id="modal01" class="c-modal js-modal">
      <div class="c-modal_bg js-modal-close"></div>
      <div class="c-modal_content _lg">
        <div class="c-modal_content_inner">
          <h3 class="c-modal_content_inner__title">レビューの作成</h3>
          <div class="c-modal_content_inner__review">
            <img
              id="result-image"
              alt=""
              class="c-modal_content_inner__review__face-img"
              src=""
            />
            <div class="c-modal_content_inner__review__comment">
              <h4 id="title">タイトル</h4>
              <textarea
                name=""
                id="review-comment"
                cols="5"
                rows="4"
              ></textarea>
            </div>
            <div class="c-modal_content_inner__review__footer">
              <button
                id="next-button"
                class="c-modal_content_inner__review__footer__next-button"
              >
                次へ
              </button>
            </div>
          </div>
          <a class="js-modal-close c-modal_close" href=""
            ><span>閉じる</span></a
          >
        </div>
      </div>
    </div>
    <!-- ./modal -->

    <!-- review write area -->
    <!-- <div class="review-area__write" id="review-elements">
        <p>タイトル</p>
        <input type="text" name="" id="review-title" />
        <div class="review-area__write__element">
          <img
            src=""
            alt=""
            width="120"
            height="120"
            class="InsertedFaceIcon"
          />
          <div class="review-area__write__element__comment">
            <p>Comment</p>
            <textarea
              name=""
              id=""
              cols="50"
              rows="4"
              class="comments"
            ></textarea>
          </div>
        </div>

    </div> -->
    <!-- review write area end-->

    <!-- <button id="add-review">Add review</button> -->
    <!-- <div id="mask-select-area">
          <h3>背景画像選択</h3>
          <input type="button" value="普通の顔" id="mask-select-area-normal" />
          <input type="button" value="ねこ" id="mask-select-area-cat" />
          <input type="button" value="メガネ" id="mask-select-area-glasses" />
          <input type="button" value="ほっぺ" id="mask-select-area-cheek" />
          <input type="button" value="おじさん" id="mask-select-area-danger" />
        </div>

        <h3>サイズ選択</h3> 
      
      
                <a class="js-modal-close c-modal_close" href=""
            ><span>閉じる</span></a
          >-->
    <!-- <div id="size-select-area"></div>

      </div>
    <div id="color-map-area">
      <canvas id="color-map" width="400" height="400"></canvas>
    </div> -->
  </body>
</html>
